*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
.telegram {
  border: none;
  color : blueviolet;
  font-size: 40px;
  padding: 0px;
  margin-top: 50px;
  background-color: transparent;
}